body, html{
	height: 100%;

}
.background-img {
	height: 100%;

	background-color: #00DBDE;

	background: url(../assets/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	filter: grayscale();
	
}

.blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba( 255, 255, 255, 0.02 );
	backdrop-filter: blur( 2.5px );
	-webkit-backdrop-filter: blur( 2.5px );
}

.nav-bar ul{
	list-style: none;
	margin: auto;
	position:fixed;
	top: 0%;
	width: 100%;
	height: 95px;
	background-color: white;
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	z-index: 1;
}
.nav-bar li {
	float: left;
}

.nav-logo {
	display: block;
	padding: 20px;
	
  
}


.nav-option {
	display: block;
	padding: 20px;
	
	margin: 20px;
	
	color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 15px;
	text-decoration: none;
	transition: 0.2s;
	
}

.nav-anim {
	display: block;
	width: 0%;
	height: 4px;
	transform: translate(0, 5px);
	background-color: black;
	transition: 0.2s;
}
.nav-option:hover span {
	display: block;
	width: 100%;
}

.nav-option:hover {
	transform: scale(1.1);
}

footer {
	width: 100%;
	height: 160px;
	font-family: 'Ubuntu', sans-serif;
	box-shadow: 0px -2px 10px black;
	display: inline-block;
}

footer p {
	text-align: center;
	margin: 20px;
	margin-top: 40px;
	font-weight: 600;
}
.disclaimer ul {
	display: inline;
	list-style: none;
}
.disclaimer ul li a {
	display: block;
	text-align: center;
	margin: 20px;
	text-decoration: none;
	color: blue;
}


.home-main {
	position: absolute;
	top: 50%;

	transform: translate(0, -50%);
	margin-left: 100px;
	width: 800px;

	font-family: 'Ubuntu', sans-serif;
}

.home-content h1 {
	font-size: 50px;
	color: rgba(0, 0, 0, 0.9);
}

.home-content p {
	font-weight: 600;
	width: 650px;
	color: rgba(255, 255, 255, 0.8);
}

.home-buttons ul {
	list-style: none;
}

.home-buttons ul li {
	float: left;
}

.home-buttons ul li a {
	background-image: linear-gradient(to right, #cccccc 0%, #ffffff  51%, #dadada  100%);
	width: 200px;
	margin-top: 30px;
	margin-left: 70px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	transition: 0.5s;
	background-size: 200% auto;
	font-family: Arial, Helvetica, sans-serif;
	color: grey;            
	box-shadow: 0 0 20px #eee;
	border-radius: 10px;
	display: block;
	text-decoration: none;
}

.home-buttons ul:nth-child(1) li a {
	background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
	box-shadow: 2px 2px 20px rgb(0, 0, 0);
	color: white;
	
}

.home-buttons ul li a:hover {
	background-position: right center; /* change the direction of the change here */
	text-decoration: none;
}

.login-buttons {


	background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
	width: 160px;
	margin-top: 30px;
	margin-right: 25px;
	padding: 15px 45px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	transition: 0.5s;
	background-size: 200% auto;
	font-family: Arial, Helvetica, sans-serif;
	color: rgb(255, 255, 255);            
	box-shadow: 2px 2px 5px rgb(77, 74, 74);
	border-radius: 10px;
	display: block;
	text-decoration: none;
}
.login-buttons:hover {
	background-position: right center;
}



.right-side {
	position: absolute;
	width: 600px;
	height: 600px;
	top: 50%;
	right: 0;
	transform: translate(-25%, -50%);
	transition: 0.2s;
}
.right-side:hover {
	-webkit-filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
	filter: drop-shadow(0px 0px 20px rgb(255, 255, 255));
}

.home-audio {
	width: 400px;
	transform: translate(80px, 0);
	
	
}

.contact-form {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 620px;
	transform: translate(-50%, -50%);

	background: rgba( 255, 255, 255, 0.05 );
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur( 7.5px );
	-webkit-backdrop-filter: blur( 7.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );

	margin: auto;
	text-align: center;

	

}

.contact-form form {
	margin-top: 50px;
	font-family: 'Ubuntu', sans-serif;
}

.contact-form form h4 {
	margin-top: -20px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: bold;
}

.contact-form form input, textarea {
	width: 600px;
	margin-top: 10px;
	padding: 8px;
	border: none;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 2px 2px 15px black;
	transition: 0.2s;
	
}

.contact-form form input:focus, textarea:focus {
	box-shadow: 0px 0px 20px white;
}

textarea {
	
	transform: translate(0, 10px);
	resize: none;
	height: 200px;
}

.contact-form-submit {
	background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
	background-size: 200% auto;
	margin-top: 40px;
	width: 600px;
	height: 40px;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 10px black;
	transition: 0.5s;
	color: white;
}

.contact-form-submit:hover {
	background-position: right center;
	box-shadow: 0px 0px 20px white;
}


.gallery-grid {
	position:absolute;
	width: 100%;
	max-width: 1300px;
	top: 600px;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 250px;
	grid-gap: 20px;
	
}

.gallery-item figure {
	width: 100%;
	height: 100%;

	
	background: rgba( 255, 255, 255, 0.05 );
	box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	backdrop-filter: blur( 7.5px );
	-webkit-backdrop-filter: blur( 7.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	transition: 0.5s;
	
}

.gallery-item figure:hover {
	-webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
	filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));

}
.gallery-item img {
	width: 90%;
	height: 90%;
	object-fit: cover;
	transform: translate(5%, 5%);
	border-radius: 10px;
	filter:opacity(0.8);
	transition: 0.5s;
}
.gallery-item img:hover {
	filter: none;
}

.gallery-item:nth-child(1) {
	grid-column-start: span 2;
}

.gallery-item:nth-child(2) {
	border-radius: 50px;

}